<!-- _footer.erb -->

<div id="footer">
  <!-- Your footer code goes here -->
   <div id="footer">
    <div class="container">
      <div class="row">
        <div class="col-xs-4">
          <ul class="list-inline">
            <li><%= link_to "<i class='fa fa-youtube'></i>", "https://youtube.com/channel/UChCDYcBCrb8tuPAO6e0P-Hw" %></li>
            <li><%= link_to "<i class='fa fa-instagram'></i>", "" %></li>
            <li><%= link_to "<i class='fa fa-facebook'></i>", "" %></li>
            <li><%= link_to "<i class='fa fa-twitter'></i>", "" %></li>
          </ul>
        </div>
        <div class="col-xs-8 text-right">
          <p>This is a Airbnb Home challenge @ LeWagon</p>
        </div>
      </div>
    </div>
  </div>
</div>
