<div class="container padded">
  <h1 class="text-center">Our Team</h1>
  <ul class="list-inline text-center">
    <% ["romain", "seb"].each do |member| %>
      <li>
        <h3><%= member.capitalize %></h3>
        <%= image_tag "#{member}.jpg", class: "avatar-xlarge" %>
      </li>
    <% end %>
  </ul>
</div>

<div class="container text-center padded">

  <h2> <%= link_to "<i class='fa fa-envelope-o'></i>contact@airbnb.com" %> </h2>

</div>


